* {
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;
}
.bloc_jeux {
    margin-right: 30%;
    margin-left: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2vh;
    justify-content: center;
    
}