* {
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;
}
.bloc_jeux3 {
    margin-right: 30%;
    margin-left: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2vh;
    justify-content: center;
}

.bloc_jeux4, 
.bloc_jeux8 {
    margin-right: 30%;
    margin-left: 30%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2vh;
    justify-content: center;
}

.bloc_jeux5,
.bloc_jeux7,
.bloc_jeux10{
    margin-right: 25%;
    margin-left: 25%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 2vh;
    justify-content: center;
}

.bloc_jeux6,
.bloc_jeux9,
.bloc_jeux11,
.bloc_jeux12 {
    margin-right: 20%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 2vh;
    justify-content: center;
}

.stop_partie {
    margin-bottom: 3vh;
}

.bloc_fin_partie {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 38%;
    right: 38%;
    margin-top: 10%;
    background-color: rgba(88, 88, 88, 0.685);
}