
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: url(images/backgroung.jpg) no-repeat center fixed;
    background-size:cover;
}

/* Accueil */

nav {
    display: flex;
    justify-content: space-between;
    background-color:rgba(68, 68, 68, 0.63);
}

nav ol {
    display: flex;
    gap: 10vh;
    margin-top: 3%;
    margin-right: 5%;
    color: white;
    list-style: none;
}

nav ol li a{
    color: white;
    text-decoration: none;
    font-family: 'Cinzel Decorative';
}

nav ol li a:hover {
    color: rgb(0, 253, 89);
    transition: 0.7s ease-out;
    text-shadow:
    0px 7px 5px rgba(0,0,0,0.215),
    0px 12px 2px rgba(0,0,0,0.295),
    0px 16px 15px rgba(0, 0, 0, 0.295);
}

.deco:hover {
    color: rgb(255, 25, 64);
    transition: 0.7s ease-out;
    text-shadow:
    0px 7px 5px rgba(0,0,0,0.215),
    0px 12px 2px rgba(0,0,0,0.295),
    0px 16px 15px rgba(0, 0, 0, 0.295);
}

h1 {
    font-family: 'Cinzel Decorative';
    font-size: 7vh;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.247),
    0px 24px 2px rgba(0,0,0,0.1),
    0px 34px 30px rgba(0,0,0,0.1);;
}

h1 span {
    color: rgb(196, 196, 164);
}

h2 {
    font-family:'';
}

.plateau_form button {
    background: transparent;
    border: none;
}


.bloc_jeux3 {
    margin-right: 30%;
    margin-left: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2vh;
    justify-content: center;
}

.bloc_jeux4, 
.bloc_jeux8 {
    margin-right: 30%;
    margin-left: 30%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2vh;
    justify-content: center;
}

.bloc_jeux5,
.bloc_jeux7,
.bloc_jeux10{
    margin-right: 25%;
    margin-left: 25%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 2vh;
    justify-content: center;
}

.bloc_jeux6,
.bloc_jeux9,
.bloc_jeux11,
.bloc_jeux12 {
    margin-right: 20%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 2vh;
    justify-content: center;
}

.stop_partie {
    margin-bottom: 3vh;
}

.bloc_fin_partie {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 38%;
    right: 38%;
    margin-top: 10%;
    background-color: rgba(88, 88, 88, 0.685);
}

.section_profil {
    display: flex;
    justify-content: space-evenly;
}


.section_carte_profil {
    display: flex;
    flex-direction: column;
    
}
.section_carte_profil section {
    display: flex;
    justify-content: center;
}

.section_carte_profil form {
    display: flex;
    flex-direction: column;
}

.section_carte_profil form button {
    background: transparent ;
    border: none;
}

